/* contact.css */

.contact-container {
  background-color: black;
  color: white;
  margin: 1px 0;
  height: 400px; 
  padding: 80px;
}

/* Estilos para los elementos hijos del contenedor */
.contact-container Form.Control,
.contact-container InputGroup.Text,
.contact-container Button {
  color: white;
  background-color: black;
  border-color: white; /* Cambia el color del borde, si es necesario */
}

.custom-label {
  text-align: left;
}

